[MASTER]
ignore=tests
init-hook='import sys; sys.path.append("src")'


[MAIN]
fail-under = 9.0

[MESSAGE CONTROL]

disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring,
        line-too-long,
        trailing-whitespace

[FORMAT]
max-line-length=100

[REFACTORING]
max-args=8
max-locals=15

[DESIGN]
max-statements=15